@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(170, 166, 161);
}
html {
  scroll-behavior: smooth;
}
nav {
  position: sticky;
  top: 0; /* Adjust the value as needed */
  font-family: "Inter", sans-serif;
  background-color: black; /* Add a background color for the navbar */
  color: white; /* Set text color */
  z-index: 100;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

li:hover {
  font-family: "Inter", sans-serif;
  border-radius: 1px;
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}
a {
  color: white;
  text-decoration: none;
}
.subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.left-section {
  margin-left: 2rem;
}
.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
  padding: 15px;
}

.books-section {
  width: 51vw;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  display: grid;
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  border-radius: 7px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.8);
}
.book-title {
  color: blue;
  text-decoration: underline;
  text-align: left;
}
.table-1,
th,
tr,
td {
  text-align: left;
  border-collapse: collapse;
  border: 2px solid black;
  padding: 5px;
  font-family: "Inter", sans-serif;
}
.table-2,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.5rem 0.8rem;
  text-align: left;
}
.container {
  width: 51vw;
  margin-top: 12rem;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.8);
}
form {
  font-family: "Inter", sans-serif;
}
h3 {
  margin-bottom: 1rem;
  font-size: 25px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
input {
  width: 100%;
  padding: 5px 12px;
}
.btn {
  background-color: black;
  color: white;
}
